{% extends "admin/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ app_label|capfirst }}</a> &rsaquo;
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     <a href="../">{{ object|truncatewords:"18" }}</a> &rsaquo;
     {% trans 'Send Mail' %}
</div>
{% endblock %}

{% block content %}
    <h1>
        {% blocktrans %}Send this newsletter to {{ subscribers.count }} emails?{% endblocktrans %}
    </h1>
    <p>
        {% trans "This is the email that be sent to your subscribers:"%}
    </p>

    <fieldset class="module aligned">
        <div class="form-row title">
            <div>
                <label>{% trans "Title" %}:</label>
                <p>{{ object.title }}</p>
            </div>
            <div>
                <label>{% trans "Email" %}:</label>
                <p>{{ object.body|linebreaks }}</p>
            </div>
        </div>
    </fieldset>

    <form action="" method="post">{% csrf_token %}
        <div>
            <input type="hidden" name="action" value="send_mail" />
            <input type="submit" value="{% trans "Send Email" %}" />
        </div>
    </form>
{% endblock %}