{% load i18n %}

{% blocktrans with site.name as site_name %}
Dear subscriber,

Thank you for your subscription on {{ site_name }} !

Please confirm your subscription by following this link in the next {{ expiration_days }} days:
{% endblocktrans %}

http://{{ site.domain }}{% url subscription-activate activation_key %}

{% blocktrans %}
Your email : {{ email }}

If you didn't subscribe on this site, please ignore this email.
{% endblocktrans %}

{% blocktrans with site.name as site_name %}
Thanks,
{{ site_name }} Team
{% endblocktrans %}